{
  "presets": [
    ["@babel/preset-env", {
      "targets" : {
        "browsers": "last 5 versions"
      },
    }],
    "@babel/react"
  ],
  "plugins" : [
    ["@babel/plugin-transform-runtime", {"regenerator": true }]
  ]
}